.MatchPanel {
  background-color: white;
  text-align: left;
  border-top: 7.5px solid rgb(59, 192, 59);
  padding-left: 1rem;
  h2 {
    margin: 0;
    padding-top: 0.5rem;
  }
  p {
    margin-top: 0.15rem;
    padding-bottom: 1rem;
  }
}
