.Scoreboard {
  margin: 0 auto;
  width: 35%;
  background: rgb(230, 230, 230);
  padding: 1.5rem;
  border-radius: 0.5rem;
  .Container {
    background: white;
    display: flex;
    flex-direction: row-reverse;

    button {
      background-color: white;
      border: 1px solid black;
      margin: 1rem 1.5rem 0 0;
      padding: 0.35rem;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1200px) {
  .Scoreboard {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .Scoreboard {
    width: 65%;
  }
}

@media screen and (max-width: 600px) {
  .Scoreboard {
    width: 90%;
    padding: 1rem;
  }
}
